@model Portfolio.Models.ContactViewModel

@{
    ViewBag.Title = "Home Page";
}

<!--Wrapper-->
<div id="wrapper">
    <!--Home section-->
    <section id="home" class="home">


        <!--Block content-->
        <div class="block-content ">


            <div class="block-teaser block-background-image large overlay" data-background="/Content/img/teaser/coding1600x759.jpg">

                <!--Container-->
                <div class="container ">

                    <!--Row-->
                    <div class="row">


                        <div class="col-sm-12 ">
                            <h1 class="white ">Jennifer Cook</h1>
                            <h3 class="mt-20 white mb-200">Full Stack Web Developer/.NET/SQL</h3>
                        </div>
                    </div>
                    <!--End row-->
                    <!--Row-->
                    <div class="row">

                        <div class="col-sm-6 ">
                            <a href="~/Content/JenMCook_Resume.pdf" class="but opc ico white"><i class="icon-print-1"></i>Print Out My CV</a>
                        </div>


                        <div class="col-sm-6 t-right">
                            <p class="white short-email">If you have any questions, you can find me on Linkedin.</p>
                        </div>
                    </div>
                    <!--End row-->
                </div>
                <!--End container-->
            </div>
        </div>
        <!--End block content-->
    </section>
    <!--End home section-->
    <!--Navigation container-->
    <div class="nav-container base">
        <nav class="main-nav default">

            <!--Container-->
            <div class="container ">
                <!--Row-->
                <div class="row">

                    <div class="mobile-menu-holder">
                        <a class="mobile-btn" href="#"><i class="icon-menu"></i></a>
                    </div>

                </div>
                <!--End row-->
            </div>
            <!--End container-->
            <!--Container-->
            <div class="container ">
                <!--Row-->
                <div class="row">

                    <div class="col-sm-5 t-center">

                        <ul class="menu first">
                            <li><a class="scroll" href="#home">Home<i class="icon-home"></i></a></li>
                            <li><a class="scroll" href="#about">About<i class="icon-user"></i></a></li>
                            <li><a class="scroll" href="#resume">Resume<i class="icon-doc-text-inv"></i></a></li>
                        </ul>
                    </div>

                    <div class="col-sm-2 pd-0 t-center">
                        <div class="img-profile">
                            <img src="~/Content/img/testimonial/jenmcook.jpg" alt="">
                        </div>

                        <div class="name-profile">
                            <h5><a class="scroll" href="#home">Jennifer Cook<span>Full Stack Web Developer/.NET/SQL</span></a></h5>
                        </div>
                    </div>

                    <div class="col-sm-5 t-center">
                        <ul class="menu second">
                            <li><a class="scroll" href="#colleagues">Colleagues<i class="icon-chat"></i></a></li>
                            <li><a class="scroll" href="#portfolio">Portfolio<i class="icon-camera"></i></a></li>
                            <li><a class="scroll" href="#contact">Contact<i class="icon-paper-plane"></i></a></li>
                        </ul>
                    </div>

                </div>
                <!--End row-->


            </div>
            <!--End container-->

        </nav>
    </div>
    <!--End navigation container-->
    <!--About section-->
    <section id="about" class="about">

        <!--Block content-->
        <div class="block-content clearfix">

            <div class="block-about one bg-grey-1 ">

                <div class="block-title">
                    <h2 class="title">Who am I ?</h2>
                </div>

                <h5 class="lead mt-40">A New Full Stack Developer With 17+ Years of Business Experience</h5>

                <p class="mt-20">
                    I have always been interested in computers and how applications are able to perform their processes. During my 17 years as a Mutual Fund Accountant, I was curious about how our systems worked and communicated with one another. I was drawn to the creative aspect of coding and seeing the finished project that lines of code can create.
                </p>

                <a href="~/Content/JenMCook_Resume.pdf" class="but brd ico white mt-30"><i class="icon-down-circled2 "></i>Download My CV</a>

            </div>

            <div class="block-about three bg-grey-2">

                <div class="block-title">
                    <h2 class="title">My Training</h2>
                </div>

                <div class="block-expertise mt-40">

                    <p class="mt-20">
                        I decided to change my career and enrolled in Centriq Training's Full Stack Web Developer program in March of 2019. I have found my accounting skills of problem solving and deductive reasoning to be useful in a coding environment.   I have several examples of projects I’ve worked on listed on my Projects page.  I would like to connect with you on LinkedIn to hear what you think about my site.  I welcome any advice that will help me grow as a developer.
                    </p>
                </div>

            </div>

            <div class="block-about two bg-grey-1 ">

                <div class="block-title">
                    <h2 class="title">Personal Info</h2>

                </div>
                <ul class="mt-40 info">
                    <li><span>Email</span> : Please contact via Linkedin</li>
                    <li><span>Location</span> : Kansas City Metro</li>
                </ul>
                <ul class="mt-20 socials">
                    <li><a href="https://github.com/jenmcookdev"><i class="icon-github-circled"></i><span>GitHub</span></a></li>
                    <li><a href="https://www.linkedin.com/in/jenmcook/"><i class="icon-linkedin-circled"></i><span>Linkedin</span></a></li>
                </ul>


            </div>
        </div>
        <!--End block content-->

    </section>
    <!--End about section-->
    <!--Resume section-->
    <section id="resume" class="resume pt-100 pb-80">


        <!--Container-->
        <div class="container ">
            <!--Row-->
            <div class="row">

                <div class="col-md-12">

                    <div class="block-title mb-60">
                        <h2 class="title">My Resume</h2>
                    </div>
                </div>

            </div>
            <!--End row-->
            <!--Row-->
            <div class="row masonry">


                <!--Block content-->
                <div class="block-content">


                    <div class="col-md-4 col-sm-6 resume-boxe masonry">

                        <div class="inner-resume-boxe">

                            <div class="block-icon"><i class="ic-toolbox"></i></div>
                            <div class="block-title">
                                <h3 class="title medium">Expertise</h3>
                            </div>

                            <div class="timeline mt-40">

                                <div class="exp">
                                    <div class="hgroup mb-5">
                                        <h4>Senior Associate, Client Operations &ndash; State Street Corporation </h4>
                                        <h6>2011 &ndash; 2018</h6>
                                    </div>
                                </div>

                                <div class="exp">
                                    <div class="hgroup mb-5">
                                        <h4>Fund Accountant &ndash; State Street Corporation  </h4>
                                        <h6>2002 &ndash; 2011</h6>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 col-sm-6 resume-boxe masonry">


                        <div class="inner-resume-boxe">
                            <div class="block-icon"><i class="ic-pencil"></i></div>
                            <div class="block-title">
                                <h3 class="title medium">Education</h3>
                            </div>
                            <div class="timeline mt-40">
                                <div class="edu">
                                    <div class="hgroup mb-5">
                                        <h4>Full Stack Web Developer Program &ndash; Centriq Training </h4>
                                        <h6>Mar 2019 &ndash; <span class="current">Current</span></h6>
                                    </div>
                                </div>

                                <div class="edu">
                                    <div class="hgroup mb-5">
                                        <h4>Bachelor Degree &ndash; Missouri Western State University  </h4>
                                        <h6>Graduated 2001</h6>
                                    </div>
                                    <p>
                                        Bachelor of Science, Accounting

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 resume-boxe masonry">
                        <div class="inner-resume-boxe">
                            <div class="block-icon"><i class="ic-tools-2"></i></div>
                            <div class="block-title">
                                <h3 class="title medium">Skills</h3>
                            </div>

                            <div class="skills mt-40 ">

                                <ul class="skill-list clearfix">
                                    <li>
                                        <h4>C#.NET</h4>
                                        <div class="rating">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span class="transparent"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <h4>HTML5/CSS</h4>
                                        <div class="rating">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span class="transparent"></span>
                                        </div>
                                    </li>

                                    <li>
                                        <h4>Javascript</h4>
                                        <div class="rating">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span class="transparent"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <h4>JQuery</h4>
                                        <div class="rating">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span class="transparent"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <h4>SQL</h4>
                                        <div class="rating">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span class="transparent"></span>
                                            <span class="transparent"></span>
                                        </div>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>

                </div>
                <!--End block content-->
            </div>
            <!--End row-->
            <!--Row-->
            <div class="row">

                <!--Block content-->
                <div class="block-content mt-50 pb-80 clearfix">


                    <ul class="fact-list">
                        <li class="col-sm-3">
                            <div class="inner-fact clearfix">
                                <span class="ico-fact"><i class="ic-hourglass"></i></span>
                                <div class="desc-fact"><span class="count">17</span>Years as Professional</div>
                            </div>
                        </li>

                        <li class="col-sm-3">
                            <div class="inner-fact clearfix">
                                <span class="ico-fact"><i class="ic-trophy"></i></span>
                                <div class="desc-fact"><span class="count">8335</span>Furthest Traveled</div>
                            </div>
                        </li>

                        <li class="col-sm-3">
                            <div class="inner-fact clearfix">
                                <span class="ico-fact"><i class="ic-lightbulb"></i></span>
                                <div class="desc-fact"><span class="count">5623</span>Coffee Drinked</div>
                            </div>
                        </li>

                        <li class="col-sm-3">
                            <div class="inner-fact clearfix">
                                <span class="ico-fact"><i class="ic-heart"></i></span>
                                <div class="desc-fact"><span class="count">140</span>Board Games Played</div>
                            </div>
                        </li>
                    </ul>


                </div>
                <!--End block content-->
            </div>
            <!--End row-->
        </div>
        <!--End container-->
    </section>
    <!--End resume section-->
    <!--Colleagues section-->
    <section id="colleagues" class="blog pt-100">

        <!--Block content-->
        <div class="block-content">

            <!--Container-->
            <div class="container ">
                <!--Row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="block-title mb-60">
                            <h2 class="title">My Colleagues</h2>
                        </div>
                    </div>
                </div>
                <!--End row-->
                <!--Block content-->
                <div class="block-content t-center block-background-image medium overlay">

                    <div class="block-testi ">

                        <!--Container-->
                        <div class="container">


                            <!--Row-->
                            <div class="row">

                                <div class="col-md-12">


                                    <!--Testi thumbs-->
                                    <div class="testi-thumbs">
                                        <ul class="thumbs">
                                            <li><a class="t-active" href="#testi-1"><img src="~/Content/img/testimonial/HyungJin.jpg" alt=""><span></span></a></li>
                                            <li><a href="#testi-2"><img src="~/Content/img/testimonial/Kevin.jpg" alt=""><span></span></a></li>
                                            <li><a href="#testi-3"><img src="~/Content/img/testimonial/Laura.jpg" alt=""><span></span></a></li>
                                            <li><a href="#testi-4"><img src="~/Content/img/testimonial/Joshua.jpg" alt=""><span></span></a></li>
                                            <li><a href="#testi-5"><img src="~/Content/img/testimonial/Jeremy.jpg" alt=""><span></span></a></li>
                                            <li><a href="#testi-6"><img src="~/Content/img/testimonial/Nathaniel.jpg" alt=""><span></span></a></li>
                                            <li><a href="#testi-7"><img src="~/Content/img/testimonial/Turner.jpg" alt=""><span></span></a></li>
                                            <li><a href="#testi-8"><img src="~/Content/img/testimonial/Robert.JPG" alt=""><span></span></a></li>
                                        </ul>


                                        <h3 class="white mt-50 mb-20">My colleages who trained alongside me at Centriq</h3>
                                    </div>
                                    <!--End testi thumbs-->
                                    <!--Testi details-->
                                    <div class="testi-details mt-10">
                                        <!--Testi details single-->
                                        <div id="testi-1" class="td first">
                                            <h6>Hyung Jin Kang</h6>
                                            <span><a href="http://hjkangweb.com/" target="_blank">http://hjkangweb.com/</a></span>
                                            <span><a href="https://www.linkedin.com/in/hyung-jin-kang-a9404157/" target="_blank"><i class="icon-linkedin-circled"></i><span>Linkedin</span></a></span>
                                        </div>
                                        <!--End testi details single-->
                                        <!--Testi details single-->
                                        <div id="testi-2" class="td">
                                            <h6>Kevin Crowe</h6>
                                            <span><a href="http://kcrowedev.com" target="_blank">http://kcrowedev.com</a></span>
                                            <span><a href="https://www.linkedin.com/in/kevin-crowe-b72129182/" target="_blank"><i class="icon-linkedin-circled"></i><span>Linkedin</span></a></span>
                                        </div>
                                        <!--End testi details single-->
                                        <!--Testi details single-->
                                        <div id="testi-3" class="td">
                                            <h6>Laura Murphy</h6>
                                            <span><a href="http://lauramurphydev.com/" target="_blank">http://lauramurphydev.com/</a></span>
                                            <span><a href="https://www.linkedin.com/in/laura-murphy-15760b80/" target="_blank"><i class="icon-linkedin-circled"></i><span>Linkedin</span></a></span>
                                        </div>
                                        <!--End testi details single-->
                                        <!--Testi details single-->
                                        <div id="testi-4" class="td">
                                            <h6>Joshua Harrison</h6>
                                            <span><a href="http://jshdevco.com/" target="_blank">http://jshdevco.com/</a></span>
                                            <span><a href="https://www.linkedin.com/in/joshua-harrison/" target="_blank"><i class="icon-linkedin-circled"></i><span>Linkedin</span></a></span>
                                        </div>
                                        <!--End testi details single-->
                                        <!--Testi details single-->
                                        <div id="testi-5" class="td">
                                            <h6>Jeremy Bjornberg</h6>
                                            <span><a href="http://jbjornberg.com/" target="_blank">http://jbjornberg.com/</a></span>
                                            <span><a href="https://www.linkedin.com/in/jbjornberg/" target="_blank"><i class="icon-linkedin-circled"></i><span>Linkedin</span></a></span>
                                        </div>
                                        <!--End testi details single-->
                                        <!--Testi details single-->
                                        <div id="testi-6" class="td">
                                            <h6>Nathaniel Broadway</h6>
                                            <span><a href="http://nathanbroadway.com/" target="_blank">http://nathanbroadway.com/</a></span>
                                            <span><a href="https://www.linkedin.com/in/nathanielbroadway/" target="_blank"><i class="icon-linkedin-circled"></i><span>Linkedin</span></a></span>
                                        </div>
                                        <!--End testi details single-->
                                        <!--Testi details single-->
                                        <div id="testi-7" class="td">
                                            <h6>Turner Madick</h6>
                                            <span><a href="http://turnermadick.com/" target="_blank">http://turnermadick.com/</a></span>
                                            <span><a href="https://www.linkedin.com/in/turner-madick-913130183/" target="_blank"><i class="icon-linkedin-circled"></i><span>Linkedin</span></a></span>
                                        </div>
                                        <!--End testi details single-->
                                        <!--Testi details single-->
                                        <div id="testi-8" class="td">
                                            <h6>Robert Kessler</h6>
                                            <span><a href="http://rkesslerdev.com" target="_blank">http://rkesslerdev.com</a></span>
                                            <span><a href="https://www.linkedin.com/in/robert-kessler-062590183/" target="_blank"><i class="icon-linkedin-circled"></i><span>Linkedin</span></a></span>
                                        </div>
                                        <!--End testi details single-->

                                    </div>
                                    <!--End testi details-->
                                </div>

                            </div>
                            <!--End row-->

                        </div>
                        <!--End container-->

                    </div>

                </div>
                <!--End block content-->

            </div>
            <!--End container-->
        </div>
        <!--End block content-->

    </section>
    <!--End Colleagues section-->
    <!--Portfolio section-->
    <section id="portfolio" class="portfolio bg-grey  pt-100 pb-50">

        <!--Block content-->
        <div class="block-content">
            <!--Container-->
            <div class="container ">
                <!--Row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="block-title mb-60">
                            <h2 class="title">Portfolio</h2>
                            <h6>My projects are underconstruction, but are viewable.</h6>
                        </div>
                    </div>
                </div>
                <!--End row-->
                <!--Block works-->
                <div class="block-works">

                    <!--Row-->
                    <div class="row">

                        <div class="col-sm-12">

                            <!--Block filter-->
                            <div class="block-filter mb-50">
                                <ul class="filter">
                                    <li><a class="active" href="#" data-filter="all">All</a></li>
                                    <li><a href="#" data-filter="web">Web Application</a></li>
                                    <li><a href="#" data-filter="console">Console Application</a></li>
                                    <li><a href="#" data-filter="other">Other</a></li>
                                </ul>
                            </div>
                            <!--End block filter-->

                        </div>

                    </div>
                    <!--End row-->
                    <!--Row-->
                    <!-- Use class "web" for web app, "console" for console app, and "other" for anything else -->
                    <div class="row masonry">
                        <!-- Project 1 -->
                        <div class="col-md-3 col-sm-6  masonry item-block">
                            <div class="item web">
                                <a href="http://ustore.jenmcook.com">
                                    <div class="desc">
                                        <span>in web application</span>
                                        <h5>Pet Hair Store</h5>

                                    </div>

                                    <img src="~/Content/img/portfolio/pethair990x1470.jpg" alt="">
                                </a>

                            </div>
                        </div>
                        <!-- Project 2 -->
                        <div class="col-md-3 col-sm-6  masonry item-block">
                            <div class="item console">
                                <a href="https://github.com/jenmcookdev/DogsVsCatsDungeonGame" class="popup">
                                    <div class="desc console">
                                        <span>in console application</span>
                                        <h5>Dogs Vs. Cats: Journey of a Good Boy</h5>
                                    </div>
                                    <img src="~/Content/img/portfolio/dogs-vs-cats990x1470.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- Project 3 -->
                        <div class="col-md-3 col-sm-6  masonry item-block">
                                <div class=" item web">
                                    <a href="http://fsdp.jenmcook.com" class="popup">
                                        <div class="desc console">
                                            <span>in web application</span>
                                            <h5>Paws 'N Claws Reservation Services</h5>
                                        </div>
                                        <img src="~/Content/img/portfolio/websitehome.png" alt="">
                                    </a>
                                </div>
                            </div>
                    </div>
                    <!--End row-->

                </div>
                <!--End block works-->

            </div>
            <!--End container-->
        </div>
        <!--End block content-->

    </section>
    <!--End portfolio section-->
    <!--Contact section-->
    <section id="contact" class="contact">
        <!--Block content-->
        <div class="block-content">


            <!--Block contact-->
            <div class="block-contact">
                <div id="map" class="block-teaser block-background-image large overlay" data-background="/Content/img/contact/shuttlecock-kc.jpg">

                </div>

                <div class="contact-overlay bg-grey-dark">

                    <div class="block-title mb-60">
                        <h2 class="title white">Send a Message</h2>
                    </div>

                    <div class="block-form">
                        @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { @class = "contact-form clearfix", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.TextBoxFor((model => model.name), new
                       {
                           placeholder = "Name *",
                           id = "name",
                           name = "name"
                       });
                            @Html.TextBoxFor((model => model.email), new
                       {
                           placeholder = "Email *",
                           id = "email",
                           name = "email"
                       });
                            @Html.TextBoxFor((model => model.subject), new
                       {
                           placeholder = "Subject *",
                           id = "subject",
                           name = "subject"
                       });
                            @Html.TextAreaFor((model => model.message), new
                       {
                           placeholder = "Message *",
                           cols = 45,
                           rows = 10,
                           id = "message",
                           name = "message"
                       });
                            <input type="submit" value="Send Message" id="btnSubmit" class="but opc white submit">
                        }
                        <!--Contact form message-->
                        <div><h2>@ViewBag.ErrorMessage</h2></div>
                        <!--End contact form message-->

                    </div>

                </div>
            </div>
            <!--End block contact-->

        </div>
        <!--End block content-->
    </section>
    <!--End contact section-->
    <!--Footer-->
    <footer class="footer t-center pt-60 pb-60">

        <!--Container-->
        <div class="container">
            <!--Row-->
            <div class="row">

                <div class="col-md-12">

                    <ul class="socials round pb-20">
                        <li><a href="https://www.linkedin.com/in/jenmcook/"><i class="icon-linkedin-circled"></i><span>Linkedin</span></a></li>
                    </ul>

                    <hr>

                    <p class="pt-20">&copy; 2019 all rights reserved. A product of <a href="http://www.mutationmedia.net" target="_blank">Mutationthemes</a>.</p>

                </div>

            </div>
            <!--End row-->
        </div>
        <!--End container-->


    </footer>
    <!--End footer-->
</div>
<!--End wrapper-->
